# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
warnings_are_errors: true
cache: packages

addons:
  apt:
    update: true
    packages:
    - libmpfr-dev

after_success:
  - Rscript -e 'covr::codecov()'
